# Python bytecode
__pycache__/
*.py[cod]
12app.py

# Virtual environments
venv/
.venv/
venv
# Environment variables
.env

# IDE settings
.vscode/

# Operating system files
.DS_Store
Thumbs.db
.coverage
